<div class="row">
<div class="col-sm-12">
<h2>Need help to shop?</h2>
<p>Create your list here!</p>
<%= link_to "Create List", new_list_url, :class => "btn btn-success" %>
</div>
</div>
<br>
<div class="row">
<h2 class="col-sm-12">Lists in need of shopping</h2>
<br>
  <% @lists.each do |l|%>
  <div class="col-sm-3">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= l.name %></h5>
      <span class=""><strong>Country:</strong></span>
      <p class=""><%= l.country %></p>
      <span class=""><strong>Town:</strong></span>
      <p class=""><%= l.town %></p>
      <span class=""><strong>Postcode:</strong></span>
      <p class=""><%= l.postcode %></p>
    <%= link_to "Go To List!", list_url(l.id), :class => "btn btn-primary"%>
  </div>
  </div>
</div>
  <% end%>
</div>
